{% extends "template.html" %}
{% block content %}
<div id="content" class="m-auto max-w-screen-sm sm:pt-20 pt-8 p-6">
        <div id="faucet" class="relative">
            {% if message is not none %}
                <div class="sm:hidden">
                    <div class="relative rounded-3xl p-8 bg-purple-800 top-0 w-full flex flex-col items-center justify-center">
                        <p class="break-words text-sm font-extralight text-center">{{ message }}</p>
                        {% if tx_code is not none %}
                            <a href="https://evm.evmos.org/search-results?q={{ tx_code }}" target="_blank"
                               class="text-sm break-all text-center">{{ tx_code }}</a>
                        {% endif %}
                    </div>
                    <div class="flex justify-center">
                        <svg class="w-1/6 h-full fill-purple-800" viewBox="0 0 210 105" version="1.1"
                             xmlns="http://www.w3.org/2000/svg"
                             xml:space="preserve"
                             style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                             <g clip-path="url(#_clip1)"><path d="M5.26,-3.735l198.615,0.354c0,0 -24.26,1.674 -36.202,11.041c-11.44,8.974 -28.403,33.673 -42.017,55.256c-12.493,19.805 -22.167,36.986 -22.167,36.986c0,-0 -43.54,-77.214 -65.84,-94.622c-6.675,-5.211 -32.389,-9.015 -32.389,-9.015Z" style="fill:rgb(91, 33, 182);stroke:rgb(91, 33, 182);stroke-width:8.33px;"/></g></svg>
                    </div>
                </div>
            {% endif %}
            <object data="../static/stationcoin.svg" type="image/svg+xml" class="w-2/3"></object>
            {% if message is not none %}
                <div class="hidden sm:block absolute sm:right-0 top-16 w-60 h-36">
                    <object data="../static/speechbubble.svg" type="image/svg+xml" class="">
                    </object>
                    <div class="absolute top-0 left-6 w-48 h-full flex flex-col items-center justify-center">
                        <p class="break-words text-sm font-extralight w-full text-center">{{ message }}</p>
                        {% if tx_code is not none %}
                            <a href="https://evm.evmos.org/search-results?q={{ tx_code }}" target="_blank"
                               class="text-sm break-all w-full text-center">{{ tx_code }}</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
        <form method="post"
              class="rounded-3xl p-8 bg-gradient-to-bl from-indigo-900 to-purple-800 w-full flex flex-col"
              action="">
            <p class="pb-4">Get your StationCoin!</p>
            <p class="pb-8 font-extralight text-sm">
                Is the Evmos faucet offline again? Do you want to get some hot stuff for free? <br><br>
                Try the Evmosstation faucet and get your StationCoin (STC) for free. Just type in your Evmos Address
                (0x...) and you will receive 1 STC. Limited to one per hour - so don't be greedy.
            </p>
            <div class="justify-end flex gap-2">
                <input type="text" name="address" placeholder="Evmos address 0x..."
                       class="p-1 px-4 w-full rounded-md  placeholder:text-gray-400 text-gray-600">
                <input class="w-1/2 rounded-md bg-transparent border p-1 px-6 hover:bg-white hover:text-purple-800 transition duration-300"
                       type="submit" value="Submit">
            </div>
        </form>
    </div>
{% endblock content %}