<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EVMOS Gas Monitoring</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link href="../static/tailwind.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body class="bg-gradient-to-br from-black to-blue-900 overscroll-none h-screen text-white overflow-scroll bg-fixed">
    <div class="p-6">
        <div id="header" class="h-16 fixed z-50">
            <div id="logo">
                <p class="font-bold text-4xl leading-none -mb-1">Evmos</p>
                <p class="font-extralight text-xl leading-none pl-24">station</p>
            </div>
        </div>
        <div id="content" class="m-auto max-w-screen-sm flex flex-col justify-center pt-32">
            <div id="lastblock" class="mb-16">
                <p class="font-medium text-blue-500 pb-3">Last Block</p>
                <div class="flex justify-between">
                    <table class="font-extralight text-sm">
                        <tr>
                            <td class="w-32">EVM Transactions</td>
                            <td id="block_transaction" class="font-bold"></td>
                        </tr>
                        <tr>
                            <td>Gas Used</td>
                            <td id="block_usage" class="font-bold"></td>
                        </tr>
                        <tr>
                            <td>Base Fee</td>
                            <td id="block_basefee" class="font-bold"></td>
                        </tr>
                        <tr>
                            <td>Size</td>
                            <td id="block_size" class="font-bold"></td>
                        </tr>
                    </table>
                    <div>
                        <p id="block_number" class="text-right font-bold text-xl"></p>
                        <p id="block_timestamp" class="text-right font-extralight text-sm"></p>
                    </div>
                </div>
            </div>
            <div id="gasfee" class="mb-20">
                <p class="font-medium text-blue-500 pb-8">Gas Fee</p>
                <div class="flex gap-12">
                    <div id="fastgas" class="w-full bg-gradient-to-bl from-indigo-900 to-purple-800 rounded-3xl -m-4 p-4">
                        <div class="flex justify-between mb-6">
                            <div>
                                <p class="">Fast</p>
                                <p class="font-extralight text-xs">< 9 Seconds</p>
                            </div>
                            <img src="../static/002-rocket.png" class="w-7 h-full">
                        </div>
                        <div class="text-xl mb-6">
                            <p id="gasFast" class="inline font-bold"></p>
                            <p class="inline font-extralight">aPhoton</p>
                        </div>
                        <div class="font-extralight text-xs">
                            <p id="gasFast_tx" class="inline"></p>
                            <p class="inline">aP</p>
                        </div>
                    </div>
                    <div id="mediumgas" class="w-full bg-gradient-to-bl from-indigo-900 to-purple-800 rounded-3xl -m-4 p-4">
                        <div class="flex justify-between mb-6">
                            <div>
                                <p class="">Medium</p>
                                <p class="font-extralight text-xs">< 54 Seconds</p>
                            </div>
                            <img src="../static/001-car.png" class="w-8 h-full">
                        </div>
                        <div class="text-xl mb-6">
                            <p id="gasMedium" class="inline font-bold"></p>
                            <p class="inline font-extralight">aPhoton</p>
                        </div>
                        <div class="font-extralight text-xs">
                            <p id="gasMedium_tx" class="inline"></p>
                            <p class="inline">aP</p>
                        </div>
                    </div>
                    <div id="slowgas" class="w-full bg-gradient-to-bl from-indigo-900 to-purple-800 rounded-3xl -m-4 p-4">
                        <div class="flex justify-between mb-6">
                            <div>
                                <p class="">Slow</p>
                                <p class="font-extralight text-xs">< 180 Seconds</p>
                            </div>
                            <img src="../static/003-snail.png" class="w-7 h-full">
                        </div>
                        <div class="text-xl mb-6">
                            <p id="gasSlow" class="inline font-bold"></p>
                            <p class="inline font-extralight">aPhoton</p>
                        </div>
                        <div class="font-extralight text-xs">
                            <p id="gasSlow_tx" class="inline"></p>
                            <p class="inline">aP</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="History" class="mb-12">
                <p class="font-medium text-blue-500 pb-3">History</p>
                <div class="flex justify-between">
                    <canvas id="chart_tx" class="w-96 h-96"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function  callBlock() {
        var block_number = document.getElementById("block_number");
        var block_basefee = document.getElementById("block_basefee");
        var block_size = document.getElementById("block_size");
        var block_usage = document.getElementById("block_usage");
        var block_transaction = document.getElementById("block_transaction");
        var block_timestamp = document.getElementById("block_timestamp")
        var gas_fast = document.getElementById("gasFast")
        var gas_fast_tx = document.getElementById("gasFast_tx")
        var gas_medium = document.getElementById("gasMedium")
        var gas_medium_tx = document.getElementById("gasMedium_tx")
        var gas_slow = document.getElementById("gasSlow")
        var gas_slow_tx = document.getElementById("gasSlow_tx")


        fetch('/blockstatus', {
            method: "POST",
            cache: "no-cache",
            headers: new Headers({
                "content-type": "application/json"
            })
        })
        .then(function (response) {
            response.json().then(function (data) {
                console.log(response)
                block_number.innerText = data.number.toLocaleString('de-DE')
                block_basefee.innerText = data.baseFeePerGas + ' aPhoton'
                block_size.innerText = data.size/1000 + ' kB'
                block_usage.innerText = ((data.gasUsed / data.gasLimit)*100).toFixed(2) + ' %'
                block_transaction.innerText = data.transactionCount
                block_timestamp.innerText = data.timestamp_str
                gas_fast.innerText = data.gas_avgFee_1
                gas_fast_tx.innerText = data.gas_transactionPrice_1
                gas_medium.innerText = data.gas_avgFee_6
                gas_medium_tx.innerText = data.gas_transactionPrice_6
                gas_slow.innerText = data.gas_avgFee_20
                gas_slow_tx.innerText = data.gas_transactionPrice_20
            })
        })
    }
    document.addEventListener('DOMContentLoaded',callBlock)
    setInterval(callBlock, 4000);

    const ctx = document.getElementById('chart_tx').getContext('2d');
    let chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ time }},
        datasets: [{
            data: {{ tx_data }},
            borderColor: 'rgb(255, 255, 255)',
            borderWidth: 1
        }]
      },
        options: {
          plugins: {
              legend: {
                  display: false
              }
          },
          scales: {
              x: {
                  ticks: {
                      color: 'rgb(255, 255, 255)'
                  },
                  title: {
                      display: true,
                      text: '10min Interval',
                      color: 'rgb(255, 255, 255)'
                  },
                  type: 'time',
                  grid: {
                      display: false
                  }
              },
              y: {
                  ticks: {
                      precision: 0,
                      color: 'rgb(255, 255, 255)'
                  },
                  title: {
                      display: true,
                      text: 'Transaction Count',
                      color: 'rgb(255, 255, 255)'
                  },
                  grid: {
                      display: false
                  }
              }
          }
        }
    });
</script>
</body>
</html>